.app-container {
    font-family: Arial, sans-serif;
    text-align: center;
}
.app-header {
    margin-bottom: 20px;
}
.app-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.answer-questions-button {
    background-color: #b58d2b;
    border: none;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    margin: 20px auto;
    padding: 20px 40px;
    width: 80%;
}
.answer-questions-button:hover {
    background-color: #d4af37;
}
